---
title: Kai Zau / consulting
description: The programming and design portfolio of Kai Zau.
bodyClass: BodyConsulting
headerClass: dark
projects:
  -
    name: Groupon
    description: Landing page optimization for Breadcrumb, Groupon's merchant services brand.
    tags:
    - Responsive Design
    - Conversion Analytics
    - Frontend Style Guide
    - Ruby on Rails
    - Backbone.js
    - Haml/Sass/Compass
    - Photoshop
    link: https://breadcrumb.groupon.com/
    images:
    -
      src: groupon-responsive.jpg
      caption: Responsive design
      link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/groupon/groupon-responsive.jpg
    -
      src: groupon-pro.jpg
      caption: Product landing page
      link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/groupon/groupon-pro.jpg
    -
      -
        src: groupon-spread.jpg
        caption: Promotional product spread
        link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/groupon/groupon-spread.jpg
      -
        src: groupon-styleguide.jpg
        caption: Frontend style guide
        link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/groupon/groupon-styleguide.jpg

  -
    name: MJG International
    description: Custom video player and analytics for a technical training company.
    tags:
    - Custom Video Player
    - Analytics
    - Transactional Emails
    - User Surveys
    - Responsive Design
    link: https://frontendmasters.com
    images:
    -
      src: mjg-web-home.jpg
      caption: Landing page
      link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/mjg/mjg-web-home.jpg
    -
      -
        testimonial: Kai's UX thinking really simplified some difficult concepts we had to tackle, and our customers love the new e-learning interface.
        cite: Marc Grabanski, President of MJG International
      -
        src: mjg-web-video.jpg
        caption: Custom video player
        link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/mjg/mjg-web-video.jpg
    -
      src: mjg-responsive.jpg
      caption: Responsive design
      link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/mjg/mjg-ipad-home.jpg

  -
    name: GymPact
    description: Frontend web development and iOS design for a behavior change startup.
    tags:
    - Usability Testing
    - Responsive Design
    - Ruby on Rails
    - Haml/Sass/Compass
    - iOS Design
    link: https://pactapp.com
    rebrand: Pact
    images:
    -
      -
        src: pact-iphone-workout.jpg
        caption: Workout screen
        link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/gympact/pact-iphone-workout.jpg
        mobile: true
      -
        testimonial: Fast-paced, dedicated, and organized - along with a great sense of design and the ability to phrase complicated ideas into a few choice words.
        cite: Yifan Zhang, CEO of Pact
    -
      src: pact-web-home.jpg
      caption: Landing page
      link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/gympact/pact-web-home.jpg
    -
      -
        src: pact-iphone-success.jpg
        caption: Workout completed
        link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/gympact/pact-iphone-success.jpg
        mobile: true
      -
        src: pact-iphone-wires.jpg
        caption: iPhone wireframes
        link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/gympact/pact-iphone-wires.jpg

  -
    name: Tapforge
    description: Portfolio design and frontend code for an app development agency.
    tags:
    - Responsive Design
    - Static Site Generation
    - Haml/Sass/Compass
    link: http://tapforge.com
    images:
    -
      src: tapforge-responsive.jpg
      caption: Responsive design
      link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/tapforge/tapforge-web-home.jpg
    -
      src: tapforge-web-showcase.jpg
      caption: Portfolio page
      link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/tapforge/tapforge-web-showcase.jpg
    -
      -
        src: tapforge-iphone.jpg
        caption: Services page
        link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/tapforge/tapforge-iphone.jpg
        mobile: true
      -
        src: tapforge-wireframes.jpg
        caption: Web wireframes
        link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/tapforge/tapforge-wireframes.jpg

  -
    name: BlockAvenue
    description: Frontend web development and iOS design for a city data startup.
    tags:
    - Ruby on Rails
    - Backbone.js
    - Sass/Compass
    - Google Maps API
    - iOS Design
    - Photoshop
    link: http://blockavenue.com
    rebrand: CO Everywhere
    images:
    -
      src: blockave-web-map.jpg
      caption: Single-page web application
      link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/blockave/blockave-web-map.jpg
    -
      -
        src: blockave-iphone-map.jpg
        caption: Early iPhone concept
        link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/blockave/blockave-iphone-map.jpg
        mobile: true
      -
        testimonial: Very talented designer, technologist and best of all a great person. If you ever get the chance to work with Kai, jump on it.
        cite: Anthony Longo, CEO of BlockAvenue
    -
      src: blockave-web-home.jpg
      caption: Landing page
      link: http://d2s5qek9wq16ez.cloudfront.net/portfolio/blockave/blockave-web-home.jpg
---

extends ../_shared/layout.pug

block content
  .Masthead
    include ../_shared/header.pug

    .Section
      .text
        h1 Helping clients navigate the nuances of design, data, and code.

      figure.Geometry
        .outer
          .face.front
          .face.back
          .face.left
          .face.right
          .face.top
          .face.bottom
          .inner
            .face.front
            .face.back
            .face.left
            .face.right
            .face.top
            .face.bottom

  .Divider
    .Section.with-horizontal-padding
      blockquote
        span Well done is better than well said.
        cite Benjamin Franklin

  main.Portfolio(role='main')
    .Section
      each item in projects
        section.PortfolioItem
          .text
            h2
              = item.name
              if (item.rebrand)
                span.asterisk *
            p= item.description
            ul
              each tag in item.tags
                li= tag
            a.Button(href=item.link) Visit Site
            if (item.rebrand)
              p.rebrand
                span.asterisk *&nbsp;
                span Rebranded as #{item.rebrand}.

          .images
            each image in item.images
              if (image.src)
                .image
                  a(href=image.link class=(image.mobile ? 'mobile' : ''))
                    img(src='/assets/images/consulting/' + image.src)
                    .caption= image.caption
              else
                .image-group
                  each part in image
                    if (part.testimonial)
                      .image.testimonial
                        blockquote= part.testimonial
                        cite= part.cite
                    else
                      .image
                        a(href=part.link class=(part.mobile ? 'mobile' : ''))
                          img(src='/assets/images/consulting/' + part.src)
                          .caption= part.caption

block foot
  .Overlay
    .table
      .cell
        img

block javascripts
  script(src='/assets/javascripts/consulting.js')
